gitignore_parser
jsonargparse[signatures]
matplotlib
timm
wandb
lightning
transformers
scipy
torch
torchvision
ipykernel
fvcore
torchmetrics
pycocotools
numpy
Pillow
scikit-learn
PyYAML
huggingface_hub
tqdm
